<template name="rootPage">
	{{ #if currentUser }}
		{{>Template.dynamic template="dashboard"}}
	{{ else }}
		<!-- Login/Registration Screen -->
		<div class="container-outer bg-login-screen">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h1 class="mt-40">Welcome to UrbexSpot</h1>
						<h3>Find an exploration site near you.</h3>
					</div>
					<div class="col-md-4 ">
						{{> loginForm}}
						{{> registrationForm}} 
					</div>
				</div>
			</div>
		</div>
	{{/if }}
</template>