<template name="registerForm">
	<form class="mb-20 form-inline register-form">
		<div class="form-group">
			<label for="register-email">E-mail</label>
			<input class="form-control" type="text" id="register-email" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="register-password">Password</label>
			<input class="form-control" type="password" id="register-password" placeholder="Password">
		</div>
		<input class="btn btn-default" type="submit" value="Register">
		<p class="bg-danger mt-20"></p>
	</form>
</template>